@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #d0d5dd;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Inter", sans-serif;
}
